<!DOCTYPE html>
<html>
<head>
    <title>Clinic Queue Manager</title>
</head>
<body>

<h1>Clinic Queue Manager</h1>
<h2>Patients Waiting: {{ waiting }}</h2>
 <h2>Patients Seen Today: {{ seen }}</h2>
<h2>Current Queue</h2>
  
{% if queue %}

<ul>
{% for patient in queue %}
<li>{{ loop.index }}. {{ patient.name }} - {{ patient.get_time() }}</li>
{% endfor %}
</ul>
  
 {% else %}
 <p>No Patients Currently Waiting</p>
 {% endif %}

<a href="/register">Register New Patient</a>

<br><br>

<a href="/next">
    <button>Call Next Patient</button>
</a>

</body>
</html>